/* .zoom-viewport {} */

.zoom-container {
  position: absolute;
  /* margin: auto; */
  /* These would center within zoom-viewport */
  /* But I am setting with JavaScript to center within another element */
  /* top: 50%; */
  /* left: 50%; */
}

.flipbook {
  /* height: 100%;
    width: 100%; */
}

.animated {
  transition: margin-left 0.5s;
}

.active-pointer {
  pointer-events: auto;
}

.inactive-pointer {
  pointer-events: none;
}

.flipbook .next-button,
.flipbook .previous-button {
  width: 22px;
  /* height: 600px; */
  position: absolute;
  top: 0;
  border: 1px solid var(--active-gray);
  background-color: var(--transparent);
  transition: all 0.3s ease-in-out;
}

.flipbook .next-button:hover,
.flipbook .previous-button:hover {
  color: var(--ncma-orange);
  border: 1px solid var(--ncma-orange);
}

.flipbook .next-button:disabled,
.flipbook .previous-button:disabled {
  color: var(--disabled-gray);
  border: 1px solid var(--disabled-gray);
}

.flipbook .next-button {
  right: -22px;
  border-radius: 0 15px 15px 0;
}

.flipbook .previous-button {
  left: -22px;
  border-radius: 15px 0 0 15px;
}

.page {
  user-select: none;

  background-image: url("../assets/img/flipbook/01a.jpg"); /* Backside page image for display: "single" */
  /* background-color: black; */
  /* background-color: white; */
  /* background-size: 100% 100%; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  background-repeat: no-repeat;
}

.page img {
  max-width: 100%;
  height: 100%;
  /* user-select: none;
    margin: 0; */
}