/** 
 * https://fonts.google.com/icons
 * https://developers.google.com/fonts/docs/material_symbols
 * https://github.com/google/material-design-icons/tree/master/variablefont
 *
 * MDN Variable fonts guide
 * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide
 */

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    /* src: url(https://example.com/material-symbols.woff) format('woff'); */
    src: url("../../src/assets/font/Material Symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2") format('woff2'); /* relative path is from this css file */
}
  
.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "FILL" 0, /* FILL: 0 for default or 1 for completely filled */
        "GRAD" 0, /* GRAD:  - -25 low emphasis, 0 default, 200 high emphasis */
        "opsz" 20, /* opsz: Optical sizes range from 20dp to 48dp */
        "wght" 300; /* wght: a range of weights between thin (100) and bold (700) */
    /* font-size: 24px;  Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
  